@model UserRegisterRequestModel

@{
    ViewData["Title"] = "Register";
}
<style>
    <style >
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    span.validation-message {
        color: red;
        font-size: 14px;
    }

    button[type="submit"] {
        background-color: black;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
        width: 100%;
    }

        button[type="submit"]:hover {
            background-color: black;
        }
</style>
<h2>Register</h2>

<form asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="City"></label>
        <input asp-for="City" />
        <span asp-validation-for="City"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
